{% if mail_type == 'customer_verify' %}

<p>{{ text_verify_greeting }}</p>

<p>{{ text_verify_intro }}</p>

<p>{{ text_verify_code }}</p>

<p style="
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 4px;
  background: #f5f3ed;
  padding: 12px 18px;
  display: inline-block;
  border-radius: 6px;
  margin: 10px 0 16px;
">
  {{ verify_code }}
</p>

<p>{{ text_verify_expire }}</p>

<p>{{ text_verify_ignore }}</p>

<p>{{ text_signature }}<br>{{ store }}</p>

{% elseif mail_type == 'admin_new_customer' %}

{{ text_admin_intro }}

{{ text_admin_name }}
{{ text_admin_email }}
{{ text_admin_phone }}
{{ text_admin_newsletter }}
{{ text_admin_date }}
{{ text_admin_status }}

{% endif %}