<div class="collection z-depth-1">
	{% if logged %}
		<a class="collection-item waves-effect blue-grey-text text-darken-4{% if active_menu == 'account' %} active{% endif %}" href="{{ account }}" rel="nofollow">{{ text_account }}</a>
		<a class="collection-item waves-effect blue-grey-text text-darken-4{% if active_menu == 'password' %} active{% endif %}" href="{{ password }}" rel="nofollow">{{ text_password }}</a>
		<a class="collection-item waves-effect blue-grey-text text-darken-4{% if active_menu == 'pickup_points' %} active{% endif %}" href="{{ pickup_points }}" rel="nofollow">{{ text_pickup_points }}</a>
		<a class="collection-item waves-effect blue-grey-text text-darken-4{% if active_menu == 'order' %} active{% endif %}" href="{{ order }}" rel="nofollow">{{ text_order }}</a>
		<a class="collection-item waves-effect blue-grey-text text-darken-4{% if active_menu == 'reviews' %} active{% endif %}" href="{{ reviews }}" rel="nofollow">{{ text_reviews }}</a>
		<a class="collection-item waves-effect blue-grey-text text-darken-4{% if active_menu == 'certificates' %} active{% endif %}" href="{{ certificates }}" rel="nofollow">{{ text_certificates }}</a>

		{% if feedback_admin %}
			<a class="collection-item waves-effect blue-grey-text text-darken-4{% if active_menu == 'feedback_admin' %} active{% endif %}" href="{{ feedback_admin }}" rel="nofollow">{{ text_feedback_admin }}</a>
		{% endif %}

		<div class="account-menu-divider"></div>

		<a class="collection-item waves-effect blue-grey-text text-darken-4 account-logout"
		href="{{ logout }}"
		rel="nofollow">
		{{ text_logout }}
		</a>
	{% else %}
		<a class="collection-item waves-effect blue-grey-text text-darken-4{% if active_menu == 'login' %} active{% endif %}" href="{{ login }}" rel="nofollow">{{ text_login }}</a>
		<a class="collection-item waves-effect blue-grey-text text-darken-4{% if active_menu == 'register' %} active{% endif %}" href="{{ register }}" rel="nofollow">{{ text_register }}</a>
		<a class="collection-item waves-effect blue-grey-text text-darken-4{% if active_menu == 'forgotten' %} active{% endif %}" href="{{ forgotten }}" rel="nofollow">{{ text_forgotten }}</a>
	{% endif %}
</div>