{{ header }}
<div id="account-account" class="container">
	
	<div class="row">
		{{ column_left }}

		{% if column_left and column_right %}
			{% set class = 's12 m6 l6' %}
		{% elseif column_left or column_right %}
			{% set class = 's12 m9 l9' %}
		{% else %}
			{% set class = 's12' %}
		{% endif %}

		<div id="content" class="{{ class }}">
			{{ content_top }}
			<h1>{{ heading_title }}</h1>

			<div class="card-panel">
				<p>{{ text_empty }}</p>
			</div>

			{{ content_bottom }}
		</div>

		{{ column_right }}
	</div>
</div>
{{ footer }}