{{ header }}
{% apply spaceless %}

{% if column_left and column_right %}
	{% set main = 's12 l6' %}
{% elseif column_left or column_right %}
	{% set main = 's12 l9' %}
{% else %}
	{% set main = 's12' %}
{% endif %}

<main>
	<div class="container">

		<h1>{{ heading_title }}</h1>

		<div class="row">
			{{ column_left }}

			<div class="col {{ main }} section href-underline">
				{{ content_top }}

				<div class="pickup-points-list">
					{% for service in services %}
						<div class="card-panel pickup-point-card">
							<div class="pickup-point-card__header">
								<h2 class="pickup-point-card__title">{{ service.name }}</h2>
							</div>

							<div class="pickup-point-card__body">
								{% if service.is_selected %}
									<div class="pickup-point-card__label">{{ service.label_text }}</div>

									<div class="pickup-point-card__address">
										{{ service.address_line }}
									</div>

									{% if service.meta_line %}
										<div class="pickup-point-card__meta">
											{{ service.meta_line }}
										</div>
									{% endif %}
								{% else %}
									<div class="pickup-point-card__empty">
										{{ service.status_text }}
									</div>
								{% endif %}
							</div>

							<div class="pickup-point-card__footer">
								<button
									type="button"
									class="btn waves-effect waves-light red pickup-point-card__button js-pickup-modal-open"
									data-service-code="{{ service.code }}"
									data-service-name="{{ service.name }}"
									data-label-type="{{ service.label_type }}"
									data-modal-title="{{ service.modal_title }}"
									data-picker-mode="{{ service.picker_mode }}"
									data-widget-type="{{ service.widget_type }}"
								>
									{{ service.button_text }}
								</button>
							</div>
						</div>
					{% endfor %}
				</div>

				<div id="pickup-point-modal" class="pickup-point-modal" aria-hidden="true">
					<div class="pickup-point-modal__overlay js-pickup-modal-close"></div>

					<div class="pickup-point-modal__dialog" role="dialog" aria-modal="true" aria-labelledby="pickup-point-modal-title">
						<div class="pickup-point-modal__header">
							<h2 id="pickup-point-modal-title" class="pickup-point-modal__title"></h2>

							<button
								type="button"
								class="pickup-point-modal__close js-pickup-modal-close"
								aria-label="{{ text_modal_close }}"
								title="{{ text_modal_close }}"
							>
								×
							</button>
						</div>

						<div class="pickup-point-modal__content">
							<div class="pickup-point-modal__mode pickup-point-modal__mode--stub" data-modal-mode="stub">
								<div class="pickup-point-modal__search">
									<label for="pickup-point-search" class="pickup-point-modal__label">
										{{ text_modal_search_label }}
									</label>

									<input
										type="text"
										id="pickup-point-search"
										class="pickup-point-modal__input"
										value=""
										placeholder=""
									>
								</div>

								<div class="pickup-point-modal__section">
									<div class="pickup-point-modal__section-title">{{ text_modal_map_title }}</div>

									<div class="pickup-point-modal__map">
										{{ text_modal_map_stub }}
									</div>
								</div>

								<div class="pickup-point-modal__section">
									<div class="pickup-point-modal__section-title">{{ text_modal_list_title }}</div>

									<div class="pickup-point-modal__state pickup-point-modal__state--loading" style="display:none;">
										{{ text_modal_loading }}
									</div>

									<div class="pickup-point-modal__state pickup-point-modal__state--empty">
										{{ text_modal_empty }}
									</div>

									<div class="pickup-point-modal__list">
										<div class="pickup-point-modal__list-stub">
											{{ text_modal_list_stub }}
										</div>
									</div>
								</div>
							</div>

							<div class="pickup-point-modal__mode pickup-point-modal__mode--widget" data-modal-mode="widget" style="display:none;">
								<div class="pickup-point-modal__widget">
									<div class="pickup-point-modal__widget-loader" style="display:none;">
										{{ text_modal_loading }}
									</div>

									<div class="pickup-point-modal__widget-fallback" style="display:none;">
										{{ text_modal_empty }}
									</div>

									<div class="pickup-point-modal__widget-layout">
										<div
											id="pickup-point-cdek-widget-container"
											class="pickup-point-modal__widget-container"
											data-widget-version="{{ cdek_widget.version }}"
											data-widget-default-lat="55.7558"
											data-widget-default-lng="37.6176"
											data-widget-lang="{{ cdek_widget.lang }}"
											data-widget-account="{{ cdek_widget.account }}"
											data-widget-api-key="84d59f66-4d4e-4b37-8e27-bf03d2764821"
											data-save-url="{{ cdek_save_url }}"
											data-point-code-label="{{ text_point_code_label }}"
										></div>

										<div class="pickup-point-modal__widget-sidebar">
											<div
												id="pickup-point-cdek-selection"
												class="pickup-point-modal__selection"
												style="display:none;"
											>
												<div class="pickup-point-modal__section-title">
													{{ text_selected_pickup_point }}
												</div>

												<div
													id="pickup-point-cdek-selection-address"
													class="pickup-point-modal__selection-address"
												></div>

												<div
													id="pickup-point-cdek-selection-code"
													class="pickup-point-modal__selection-code"
												></div>

												<div style="margin-top:16px;">
													<button
														type="button"
														id="pickup-point-cdek-save-button"
														class="btn waves-effect waves-light red"
														disabled="disabled"
														data-default-text="{{ button_save_pickup_point }}"
														data-loading-text="{{ text_pickup_point_saving }}"
													>
														{{ button_save_pickup_point }}
													</button>
												</div>
											</div>
										</div>
									</div>

									<div
										id="pickup-point-yandex-widget-wrap"
										class="pickup-point-modal__widget-wrap"
										style="display:none;"
									>
										<div class="pickup-point-modal__widget-hint">
											{{ text_yandex_widget_hint }}
										</div>

										<div
											id="pickup-point-yandex-loading"
											class="pickup-point-modal__widget-loading"
											style="display:none;"
										>
											{{ text_map_updating }}
										</div>

										<div
											id="pickup-point-yandex-widget-container"
											class="pickup-point-modal__widget-container"
											data-config-url="{{ yandex_widget_service_url }}"
											data-save-url="{{ yandex_save_url }}"
											data-point-code-label="{{ text_point_code_label }}"
											data-point-kind-label="{{ text_point_kind_label }}"
											data-point-kind-pickup-point="{{ text_point_kind_pickup_point }}"
											data-point-kind-terminal="{{ text_point_kind_terminal }}"
											data-point-brand-label="{{ text_point_brand_label }}"
											data-point-brand-yandex="{{ text_point_brand_yandex }}"
											data-point-brand-partner="{{ text_point_brand_partner }}"
										></div>
									</div>

									<div
										id="pickup-point-yandex-selection"
										class="pickup-point-modal__selection"
										style="display:none;"
									>
										<div class="pickup-point-modal__section-title">
											{{ text_selected_pickup_point }}
										</div>

										<div
											id="pickup-point-yandex-selection-address"
											class="pickup-point-modal__selection-address"
										></div>

										<div
											id="pickup-point-yandex-selection-format"
											class="pickup-point-modal__selection-type"
											style="display:none;"
										></div>

										<div
											id="pickup-point-yandex-selection-comment"
											class="pickup-point-modal__selection-brand"
											style="display:none;"
										></div>

										<div style="margin-top:16px;">
											<button
												type="button"
												id="pickup-point-yandex-save-button"
												class="btn waves-effect waves-light red"
												disabled="disabled"
												data-default-text="{{ button_save_pickup_point }}"
												data-loading-text="{{ text_pickup_point_saving }}"
											>
												{{ button_save_pickup_point }}
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				{{ content_bottom }}

				{% if cdek_widget_enabled %}
					<script src="https://cdn.jsdelivr.net/npm/@cdek-it/widget@3"></script>
				{% endif %}

				{% if yandex_widget_enabled %}
					<script async src="https://ndd-widget.landpro.site/widget.js"></script>
				{% endif %}
			</div>

			{{ column_right }}
		</div>

	</div>
</main>

{% endapply %}
{{ footer }}